/**
 * @author Prénom Nom courriel
 * @todo Compléter selon l'énoncé
*/

/** Polices de caractères **/

$fontePrimaire: Helvetica, Arial, sans-serif;
$fonteSecondaire: Helvetica, Arial, sans-serif;

/** Palette de couleurs **/

// Utiliser http://chir.ag/projects/name-that-color
// pour obtenir des noms uniques et mémorisables
// Permettez-vous d'utiliser un nom de variable plus explicite
// si la suggestion de name-that-color est trop étrange

/* Couleurs de base */

/* Autres couleurs */

/** Points de rupture **/

$bureau : 600px;