    /*
    Flaticon icon font: Flaticon
    Creation date: 27/11/2018 20:48
    
    @author Samuel Loranger 
    @author Gabriel Chouinard Létourneau <chouinardletourneaug@gmai.com>
    */

    @font-face {
  font-family: "Flaticon";
  src: url("../fonts/Flaticon/Flaticon.eot");
  src: url("../fonts/Flaticon/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("../fonts/Flaticon/Flaticon.woff") format("woff"),
       url("../fonts/Flaticon/Flaticon.ttf") format("truetype"),
       url("../fonts/Flaticon/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../fonts/Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
        font-size: 25px;
        padding-right: 5px;
        font-family: "Flaticon";
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        transition: .25s all ease-in-out;
        line-height: 1; 
        text-decoration: inherit;
        text-rendering: optimizeLegibility;
        text-transform: none;
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        font-smoothing: antialiased;
    }

    .fi:after{
      display: inline-block;
      font-size: 25px;
      padding-left: 10px;
      vertical-align: bottom;
      font-family: "Flaticon";
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      transition: .25s all ease-in-out;
      line-height: 1;  
      text-decoration: inherit; 
      text-rendering: optimizeLegibility;
      text-transform: none;
      -moz-osx-font-smoothing: grayscale;
      -webkit-font-smoothing: antialiased;
      font-smoothing: antialiased;
  } 

    .flaticon-user:before { content: "\f100"; font-size: 40px;  vertical-align: bottom; }
    .flaticon-userMobile:before { content: "\f100";}
    .flaticon-calendar:before { content: "\f101"; }
    .flaticon-error:before { content: "\f102"; color: red; }
    .flaticon-success:before { content: "\f103"; color: green; } 
    .flaticon-users:before { content: "\f104";}
    .flaticon-add:before { content: "\f105"; }
    .flaticon-addAfter:after { content: "\f105"; }
    .flaticon-home:before { content: "\f106"; }
    .flaticon-share:before { content: "\f107"; }
    .flaticon-placeholder:before { content: "\f108"; }
    .flaticon-cross:before { content: "\f109";}
    .flaticon-crossRed:before { content: "\f109"; color: red}
    .flaticon-login:before { content: "\f10a"; }
    .flaticon-list:before { content: "\f10b"; }
    .flaticon-gear:before { content: "\f10c"; }
    .flaticon-folder:before { content: "\f10d"; } 
    .flaticon-trash:before { content: "\f10e"; }
    .flaticon-more:before { content: "\f10f"; }
    .flaticon-minus:before { content: "\f110"; }
    .flaticon-menu:before { content: "\f111"; }
    .flaticon-magnifying-glass:before { content: "\f112"; }
    .flaticon-edit:before { content: "\f113"; }
    .flaticon-alarm:before { content: "\f114"; }
    .flaticon-alarm-1:before { content: "\f115"; color: $jauneAccent;}
    .flaticon-eye:before { content: "\f116"; vertical-align: bottom; }

    $font-Flaticon-user: "\f100";
    $font-Flaticon-calendar: "\f101";
    $font-Flaticon-error: "\f102";
    $font-Flaticon-success: "\f103";
    $font-Flaticon-users: "\f104";
    $font-Flaticon-add: "\f105";
    $font-Flaticon-home: "\f106";
    $font-Flaticon-share: "\f107";
    $font-Flaticon-placeholder: "\f108";
    $font-Flaticon-cross: "\f109";
    $font-Flaticon-login: "\f10a";
    $font-Flaticon-list: "\f10b";
    $font-Flaticon-gear: "\f10c";
    $font-Flaticon-folder: "\f10d";
    $font-Flaticon-trash: "\f10e";
    $font-Flaticon-more: "\f10f";
    $font-Flaticon-minus: "\f110";
    $font-Flaticon-menu: "\f111";
    $font-Flaticon-magnifying-glass: "\f112";
    $font-Flaticon-edit: "\f113";
    $font-Flaticon-alarm: "\f114";
    $font-Flaticon-alarm-1: "\f115";
    $font-Flaticon-eye: "\f116";