/**
 * @author Gabriel Chouinard Létourneau
 * @todo ADAPTER ce fichier selon le projet
**/

body{
  margin: 0;
  overflow-x: hidden;
}

a{
  text-decoration: none;
  color: unset;
}

.erreur {
  color: red;
}

.erreurElement{
  border:1px solid red;
} 

.ok {
  color: green;
}