/**
 * @author Gabriel Chouinard Létourneau
 * @todo ADAPTER ce fichier selon le projet
**/
a{
  text-decoration: none;
  color: unset;
}

.erreur {
  color: red;
}

.erreurElement{
  border:1px solid red;
} 

.ok { 
  color: green;
}