/**
 * @author Gabriel Chouinard Létourneau / Samuel Loranger
 * @todo Compléter selon l'énoncé
*/
.cacherDateEcheance{
    width: 62px;
    height: 32px;
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    border-radius: 25px;
    position: relative;
    &__btn {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        border-radius: 30px;
        background-color: grey;
        width: 30px;
        height: 30px;
        border: none;
        transition-duration: .4s;
        &:focus{
          outline: none;
          border: yellow;
        } 
        &--active{
          background-color: blue;
          transform: translateX(30px);
        }
    }
}

//Bouton du menu qui passe du menu hamburger au x
.btnMenu{
    width: 40px;
    height: 40px;
    position: absolute;
    right: 10px;
    top: 8px;

    @media(min-width: 601px){
        display: none;
    }
}

.btnOperation{
  background-color: $jauneAccent;
  border: 0;
  color: black;
  border-radius: 4px;
  display: block;
  width: 85%;
  margin-bottom: 5px;
  text-align: center;
  padding: 5px;
  cursor: pointer;
  border: white 2px solid;
  margin: 0 auto;
  transition-duration: 0.4s;
  //à retirer
  @include fontSize(16px);

  &:hover{
    border: $bleu 2px solid;
  }

  &:active{
    background-color: $bleu;
  }
}

.btnAnnuler{
  display: flex;
  position: relative;
  color: white;
  font-size: 16px;
  width: 166px;
  height: 38px;
  background-color: $gris;
  border-radius: 5px;
  border: 0px;
  justify-content: center;
  padding-top: 8px;
}

//Définit les règles des span qui font les trois lignes du menu hamburger
.btnMenu span{
  display: block;
  position: absolute;
  height: 5px;
  width: 40px;
  background: white;
  border-radius: 5px;
  right: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}

//Définit la hauteur du 2e et 3e lignes du menu hambuger
.btnMenu span:nth-child(2), .btnMenu span:nth-child(3) {
  top: 12px;
}

.btnMenu span:nth-child(1) {
  top: 0px;
}

//Définit la hauteur de la 4e ligne du menu hambuger
.btnMenu span:nth-child(4) {
  top: 24px;
}

//Définit la hauteur de la 1ere ligne ouverte
.btnMenu.open span:nth-child(1) {
  top: 12px;
  right: 20px;
  width: 0%;
}

//Définit la hauteur de la 2e ligne ouverte
.btnMenu.open span:nth-child(2) {
  transform: rotate(45deg);
}

//Définit la hauteur de la 3e ligne ouverte
.btnMenu.open span:nth-child(3) {
  transform: rotate(-45deg);
}

//Définit la hauteur de la 4e ligne ouverte
.btnMenu.open span:nth-child(4) {
  top: 12px;
  right: 20px;
  width: 0%;
}