/**
 * @author Gabriel Chouinard Létourneau / Samuel Loranger
 * @todo Compléter selon l'énoncé
*/
.cacherDateEcheance{
    width: 62px;
    height: 32px;
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    border-radius: 25px;
    position: relative;
    &__btn {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        border-radius: 30px;
        background-color: grey;
        width: 30px;
        height: 30px;
        border: none;
        transition-duration: .4s;
        &:focus{
          outline: none;
          border: yellow;
        } 
        &--active{
          background-color: blue;
          transform: translateX(30px);
        }
      }
  }
  
