/**
 * @author Samuel Loranger
*/
.flexConsulterListe{
  @media(min-width: $bureau){
    display: flex;
    justify-content: space-between;
    padding-top: 2%;
  }
}

.consulterListe{
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 0;

  @media(min-width: $bureau){
    margin-right: 0%;
    width: span(8 of 12);
    margin-left: span(1 of 12);
  }

  &__titreBtn{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: 5%;
    margin-top: 5%;

    @media(min-width: $bureau){
      flex-direction: row;
    }
    h1{
      text-align: center;
      margin-top: 0;

      @media(min-width: $bureau){
        text-align: unset;
      }
    }

    a{
      margin: 0 auto;
      width: 55%;
      height: 100%;

      @media(min-width: $bureau){
        width: 28%;
        margin: 0;
      }
    }
  }
}

.couleurListe{
  height: 25px;
  max-width: 1000px;
  margin: 0 auto;
}

.conteneurListes{
  //
  //&__retroactions{
  //  text-align: center;
  //}
  ul{
    padding-left: 0;
    list-style-type: none;
  }

  @media(min-width: $bureau){
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;ç

    &__item{
      form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      &Titre{
        max-height: 62px;
      }

      &DateEcheance{
        height: 75px;
      }

      &Etat{
        margin-top: 5%;
      }
    }
  }

  &__item{
    border: 1px solid black;
    margin-bottom: 5%;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5%;

    @media(min-width: $bureau) {
      width: span(4 of 12);
      border: 2px solid black;
      margin-bottom: 2%;
      margin-right: gutter(1 of 12);
      padding-bottom: 2%;

      &:nth-child(3n){
        margin-right: 0;
      }
    }
  }
}