/**
 * @author Samuel Loranger
*/
.flexgererItem{
  display: flex;
  padding-top: 2%;
  min-height: 600px;
}

.gererItem{
  margin-left: 5%;
  margin-right: 5%;
  width: 100%;

  @media(min-width: $bureau){
    width: span(5 of 12);
    margin-left: span(1 of 12) + gutter(12) + gutter(12);
  }

  &__titre{
    margin-top: 5%;
    text-align: center;
  }
}

.formulaire{
  &__conteneurChamp{
    display: flex;
    flex-direction: column;
    width: span(4);

    label{
      width: span(4 of 4);
    }

    input{
      height: 42px;
      border: 1px solid black;
      font-size: 14px;
    }
  }

  &__dateEcheanceTitre{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }


  &__conteneurDate{
    border: none;
    padding: 0;
    transition: 0.4s all ease-in-out;
    display: block;
    animation: animation-afficherDate 0.4s;
    animation-timing-function: ease-in-out;

    &--cacher{
      animation: animation-cacherDate 0.4s;
      height: 0;
    }
  }
}

.date{
  font-size: 14px;
  border-radius:4px;
  height: 4.2em;
  border: 1px solid black;
  border-radius: 0;

  &__conteneurSelectDate{
    display: flex;
    justify-content: space-between;
    animation: animation-afficherDate 0.4s;
    animation-timing-function: ease-in-out;

    &--cacher{
      animation: animation-cacherDate 0.4s;
      opacity: 0;
      display: none;
    }
  }

  &__date{
    height: 42px;
    background: white;
    border: 1px solid black;
    font-size: 16px;
    font-family: $fontRegular;

    &::-webkit-calendar-picker-indicator {
      color: rgba(0, 0, 0, 0);
      opacity: 1;
      display: block;
      background: url("../images/icones/calendar.png") no-repeat;
      width: 32px;
      height: 32px;
      border-width: thin;
      margin-top: 3px;
      transition-duration: 0.25s;
      &:hover {
        transform: scale(1.05);
      }
  }

  }

  &__heure{
    border: 1px solid black;
    height: 42px;
    width: 82px;
    background: white;
    @include fontSize(14px);
    font-family: $fontRegular;
  }
}

.conteneurBoutons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 50%;
  margin-top: 5%;

  .btnModifier{
    font-size: 16px;
    width: 166px;
    height: 38px;
    background-color: $jauneAccent;
    border-radius: 5px;
    border: 0px;
    margin-bottom: 5%;
  }
}

.footer{
  @media(max-width: $bureau){
    position: absolute;
  }
}

//********** Animations **********
@-webkit-keyframes animation-cacherDate {
  from{ opacity: 1;  height: 42px; }
  to{ opacity: 0; height: 0px; display: none; }
}

@keyframes animation-cacherDate {
  from{ opacity: 1;  height: 42px; }
  to{ opacity: 0; height: 0px; }
}

@-webkit-keyframes animation-afficherDate {
  from{ opacity: 0;  height: 0px; }
  to{ opacity: 1; height: 42px; }
}

@keyframes animation-afficherDate {
  from{ opacity: 0;  height: 0px; }
  to{ opacity: 1; height: 42px; }
}
