/**
 * @author Gabriel Chouinard Létourneau <chouinardletourneaug@gmail.com>
*/
.echeancesBandeau{
    display: flex; 
    flex-flow: row-reverse wrap;
    justify-content: center;
    font-family: $fontSemiBold;  
    background-color: $gris; 
    color: #fff;   
    padding: 1.5rem span(1 of 12) - gutter(12);
    @media (min-width: $bureau) {
        flex-wrap: nowrap;          
    }
    &__notifs{
        margin: auto 0;
        @media (min-width: $bureau) {
            width: span(3 of 10);
        }
        &Texte{
            position: relative;
            cursor: pointer; 
            transition: .2s all ease-in-out;
            input:checked+span{
                &:before{
                    content: "\f115"; 
                    color: $jauneAccent;
                } 
            } 
            &:hover{
                color: $jauneAccent; 
                &:after{
                    position: absolute;
                    bottom: 0;
                }
            }
        }
        &Icon{
            @include fontSize(28px);
            margin: auto .5rem;
        } 
        &Texte{ 
            display: flex;
        } 
    }
    &__dates{ 
        margin: auto;
        @media (min-width: $bureau) {
            width: span(9 of 12);     
        }
        &>p:first-of-type{
            margin-top: 0;
        }
        &Couleurs{
            display: inline-block; 
            width: 2rem; 
            height: 2rem; 
            border-radius: 10px;
            margin-right: .5rem;
        }
        &Temps{ 
            font-family: $fontRegular;
            display: block; 
        }
    } 
}
.allLists{  
    &__intro{
        display: flex;
        flex-flow: column-reverse wrap;
        justify-content: space-between;
        width: span(9 of 12);
        margin: 0 auto; 
        @media (min-width: $bureau) {
            flex-flow: row nowrap;
            margin-left: span(2 of 12)+gutter(12);
        }
        &Titre{
            text-align: center;
            width: auto;
            margin: 2rem auto;
            @media (min-width: $bureau) {
                width: span(2 of 9); 
                margin-right: span(4 of 9)+gutter(9); 
                text-align: left;
            }
        }
        .btnOperation{ 
            font-family: $fontBold;
            width: auto;
            padding: 1.5rem;
            margin: 4rem 0 0;
            @media (min-width: $bureau) {
                width: span(3 of 9);
                margin-left: gutter(9); 
                float: right;   
            }
        }
    }
    &__retroactions{
        font-family: $fontSemiBold;
        @include fontSize(20px);
        margin-left: span(2 of 12)+gutter(12);
    }  
    &__itemList{  
        position: relative;
        width: 275px;
        border: 2px solid $gris;
        margin-bottom: 5%;
        header{
            height: 3rem; 
        }   
        &Nb{
            position: absolute;
            right: 0;
            width: 95px;
            text-align: center;
            background-color: $gris;
            color: #fff; 
            margin: 0;
        }
        &Nom{
            margin: 5px 0 20px;
            &:after{
                transition: .25s all ease-in-out;
                content: ""; 
                height: 0;
                width: 0;
                position: absolute; 
                bottom: 0;  
                right: 100px;    
                background-color: $jauneAccent;   
            }
            &:hover{
                &:after{ 
                    height: 5px; 
                    width: 150px;    
                    left: calc(0%);  
                } 
            }
        }
        &Content{
            min-height: 175px;
            margin-left: 15px;
            a{ 
                display: block; 
            }
        }
        &Link{ 
            margin: 15px 0;
            transition: .35s all ease-in-out;
            &:after{
                transition: .25s all ease-in-out;
                content: ""; 
                height: 0;
                width: 0;
                position: absolute; 
                bottom: 0;  
                right: 100px;    
                background-color: $jauneAccent;  
            }
            &:hover{
                &:before{
                    transform: scale(1.2); 
                }
                &:after{ 
                    height: 5px; 
                    width: 80px;  
                    left: calc(10%);  
                } 
            } 
            &--ecard{ 
                position: absolute;
                right: 20px; 
                bottom: 0;
                &:hover{
                    &:after{ 
                        width: 100px;   
                        left: calc(20%);
                        right: 20px;
                    }  
                }
            } 
        }  
    }
    &__containerFlex{ 
        display: flex; 
        flex-wrap: wrap;
        justify-content: space-around;
        width: span(8 of 12);
        margin: 2% span(2 of 12)+gutter(12); 
        @media (min-width: 850px) {
            justify-content: space-between;
        } 
    }   
}     