/**
 * @author Gabriel Chouinard Létourneau <chouinardletourneaug@gmail.com>
*/

/* Décrire l'animation */
@keyframes zoomIn {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  75% {
    transform: scale(1.1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.modalBox {
    display: none;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    /* Boite de la fenêtre modale */
    &__dialogue {
      display: table-cell;
      vertical-align: middle;
    }
    /* Contenu de la fenêtre modale */
    &__fenetre {
      margin: auto;
      background-color: white;
      position: relative;
      padding: 0;
      outline: 0;
      border: 5px gray solid;
      width: 100%;
      max-width: 500px;
      /* Ajout d'une animation pour faire apparaître la fenêtre */
      animation-name: zoomIn;
      animation-duration: 0.5s;
    }
    &__entete {
      text-align: right;
      padding: 0.5em;
    }
    &__contenu {
      padding: 0.5em;
    } 
    &__actions {
      display: flex;
      // flex-flow: row wrap;
      // justify-content: space-around;
    }
    /* Afficher la fenêtre modale lorsqu'elle est ciblée par un lien supprimer */
    &:target { 
      display: table; 
      position: fixed;  
      z-index: 1;
    }
  }
  