/**
 * @author Samuel Loranger <email>
*/

.sidenav{
  background-color: #575757;
  width: span(3 of 12);
  @include clearfix;

  @media(max-width: $bureau){
    display: none;
  }

  &__liste{
    list-style-type: none;
    padding: 25px 0;  
    color: #fff;
    &Primaire{
      padding-bottom: 25px;
      border-bottom: 1px #fff solid;
      &__item{
        margin: 12px 0;
      }
    }
    &Secondaire{
      padding-top: 25px;
    &__item{
      width: 100%; 
      padding-left: 5px; 
      margin: 12px 0;
      &--active{
        padding-left: 5px;
        border-left: 5px $jauneAccent solid;
      }
      &__lien{ 
        transition: .2s all ease-in-out; 
        &:hover{
          max-width: 300px;
          border-bottom: 5px $jauneAccent solid; 
        } 
      }
    }
    }
  }
}

